@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.mc-login {
  background-color: #9b59b6;
  height: 100%; }
  .mc-login .mc-login-left {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .mc-login .mc-login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column; }
    .mc-login .mc-login-right h1 {
      font-size: 50px;
      color: white; }
    .mc-login .mc-login-right p {
      font-size: 30px;
      color: white; }

.mc-toast {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  transition: .4s right;
  z-index: 100; }
  .mc-toast.mc-toast--hidden {
    right: -300px;
    transition: .4s right; }

.mc-navbar .mc-navbar-brand {
  color: #1fcf7c;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold; }

.mc-home .mc-home-heading {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  color: #1fcf7c; }

.mc-home .mc-home-right {
  background-color: #1fcf7c;
  height: 100%; }

.mc-h-100 {
  height: 100% !important; }

.mc-my-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mc-my-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mc-mt-200 {
  margin-top: 200px !important; }

.mc-error input {
  border-color: #e74c3c !important; }
  .mc-error input::placeholder {
    color: #e74c3c !important; }

.mc-bg-primary {
  background-color: #2d89e5; }

* {
  font-family: 'Open Sans' !important; }

