@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800&subset=latin-ext);
.mc-login .mc-login-text {
  background: url("/static/images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #2d89e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Work Sans";
  text-align: left; }
  .mc-login .mc-login-text strong {
    font-size: 50px; }
  .mc-login .mc-login-text p {
    font-size: 20px;
    font-weight: 300; }

.mc-login .mc-login-form .mc-register-text {
  font-family: "Karla";
  font-size: 15px;
  text-align: center;
  border-style: none !important; }

.mc-login .mc-login-form .mc-login-input {
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0; }
  .mc-login .mc-login-form .mc-login-input:focus {
    border-bottom-color: #2d89e5; }

.mc-toast {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  transition: .4s right;
  z-index: 100; }
  .mc-toast.mc-toast--hidden {
    right: -300px;
    transition: .4s right; }

.mc-navbar {
  width: 100%;
  background-color: #fff;
  height: 65px;
  position: fixed;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-left: 55px;
  padding-right: 55px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .mc-navbar .mc-navbar-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .mc-navbar .mc-navbar-right p {
      margin: 0;
      font-family: "Karla"; }
    .mc-navbar .mc-navbar-right .mc-navbar-user-img {
      border-radius: 50%;
      height: 40px;
      margin-right: 15px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  .mc-navbar .mc-navbar-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .mc-navbar .mc-navbar-search {
    height: 100%;
    border-style: none;
    outline: none;
    font-family: "Karla"; }

.mc-input {
  font-family: "Karla";
  background-color: inherit; }
  .mc-input .mc-input-addon .mc-input-addon-text {
    border-style: none;
    border-bottom: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 0;
    transition-duration: 0.15s;
    color: rgba(0, 0, 0, 0.5); }
    .mc-input .mc-input-addon .mc-input-addon-text.focused {
      color: #2d89e5;
      border-bottom-color: #2d89e5; }
    .mc-input .mc-input-addon .mc-input-addon-text.error {
      border-color: #e74c3c !important;
      color: #e74c3c !important; }

.mc-button {
  border-radius: 5px;
  text-align: center;
  font-family: "Karla";
  border-style: none; }
  .mc-button.primary {
    background-color: #2d89e5;
    color: #fff; }
  .mc-button:hover {
    transition: 0.2s all;
    opacity: 0.5; }

.mc-sidebar {
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  position: fixed;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 65px; }
  .mc-sidebar .mc-sidebar-item {
    cursor: pointer;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    text-align: left;
    transition: .1s ease-in-out;
    border-left-width: 5px;
    border-left-color: transparent;
    border-left-style: solid; }
    .mc-sidebar .mc-sidebar-item.bottom {
      position: relative;
      margin-top: auto;
      bottom: 65px; }
    .mc-sidebar .mc-sidebar-item p {
      margin: 0;
      font-family: "Karla";
      color: rgba(0, 0, 0, 0.5);
      transition: .1s ease-in-out; }
    .mc-sidebar .mc-sidebar-item i {
      color: rgba(0, 0, 0, 0.5);
      transition: .1s ease-in-out; }
    .mc-sidebar .mc-sidebar-item:hover {
      transition: .1s ease-in-out;
      background-color: rgba(0, 0, 0, 0.05);
      border-left-width: 5px;
      border-left-color: #2d89e5;
      border-left-style: solid; }
      .mc-sidebar .mc-sidebar-item:hover p {
        transition: .1s ease-in-out;
        margin: 0;
        color: #2d89e5;
        font-family: "Karla"; }
      .mc-sidebar .mc-sidebar-item:hover i {
        color: #2d89e5;
        transition: .1s ease-in-out; }

.mc-content {
  margin-left: 20%;
  padding-top: calc(65px + 25px);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07); }

.mc-paper {
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
  padding: 30px; }

.mc-h-100 {
  height: 100% !important; }

.mc-my-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mc-my-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mc-mt-200 {
  margin-top: 200px !important; }

.mc-error {
  border-color: #e74c3c !important; }
  .mc-error::placeholder {
    color: #e74c3c !important; }

.mc-bg-primary {
  background-color: #2d89e5; }

p input h1 h2 h3 h4 h5 h6 textarea b span div form {
  font-family: "Karla" !important; }

.form-control:focus {
  box-shadow: none !important; }

a {
  text-decoration: none !important; }
  a *:hover {
    opacity: 0.5 !important;
    transition: 0.2s all !important; }

