.mc-action-button {
  position: absolute;
  bottom: 60px;
  right: 40px;
  border-radius: 50%;
  background-color: $primary-color;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}