.mc-home {
  .mc-home-heading {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    color: #1fcf7c;
  }

  .mc-home-right {
    background-color: #1fcf7c;
    height: 100%;
  }
}