.mc-input {
  font-family: $primary-font;
  background-color: inherit;

  .mc-input-addon {

    .mc-input-addon-text {
      border-style: none;
      border-bottom: 1px solid #ced4da;
      background-color: #fff;
      border-radius: 0;
      transition-duration: 0.15s;
      color: $font-color;

      &.focused {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }

      &.error {
        border-color: #e74c3c !important;
        color: #e74c3c !important;
      }
    }
  }
}

.mc-basic-input {
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;

  &:focus {
    border-bottom-color: $primary-color
  }
}