.mc-login {

  .mc-login-text {
    background: url('/static/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: $secondary-font;
    text-align: left;

    strong {
      font-size: 50px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .mc-login-form {
    .mc-register-text {
      font-family: $primary-font;
      font-size: 15px;
      text-align: center;
      border-style: none !important;
    }

    .mc-login-input {
      border-style: none;
      border-bottom-style: solid;
      border-radius: 0;

      &:focus {
        border-bottom-color: $primary-color
      }
    }
  }
}