.mc-login {
    // background: url(/static/images/bg.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    background-color: #9b59b6;
    height: 100%;

  .mc-login-left {
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .mc-login-right {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      flex-direction: column;

    h1 {
        font-size: 50px;
        color: white;
    }

    p {
        font-size: 30px;
        color: white;
    }
  }
}