.mc-navbar {
  width: 100%;
  background-color: #fff;
  height: 65px;
  position: fixed;
  box-shadow: 0px 0px 2px $shadow-color;
  z-index: 1000;
  padding-left: 55px;
  padding-right: 55px;
  color: $font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mc-navbar-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    p {
      margin: 0;
      font-family: $primary-font;
    }

    .mc-navbar-user-img {
      border-radius: 50%;
      height: 40px;
      margin-right: 15px;
      box-shadow: 0px 0px 5px $font-color;
    }
  }

  .mc-navbar-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mc-navbar-outer {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    .mc-navbar-search {
      border-style: none;
      outline: none;
      font-family: $primary-font;
    }
  }
}